<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background: url(/Content/images/bg-01.jpg) no-repeat center center fixed; background-repeat: no-repeat; background-size: cover; ">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-12 left-rs">
                    <div class="navbar-header">
                        <button type="button" id="top-menu" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/Home/Index" class="navbar-brand">Project</a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="right-nav">
                        <div class="login-sr">
                            <div class="login-signup">
                                <ul>
                                    @if (Session["TaiKhoan"] == null)
                                    {
                                        <li><a href="/TaiKhoans/DangNhap">Log In</a></li>
                                        <li><a class="custom-b" href="/TaiKhoans/DangKy">Sign Up</a></li>
                                    }
                                    else if (Session["Account"].ToString().Contains("admin"))
                                    {
                                        <li><a href="/TaiKhoans/Details/@Session["TaiKhoan"]">Xin chào @Session["User"]</a></li>
                                        <li><a href="/TaiKhoans/PageAdmin">Quản lý Admin</a></li>
                                        <li><a class="custom-b" href="/TaiKhoans/Logout">Log out</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/TaiKhoans/Details/@Session["TaiKhoan"]">Xin chào @Session["User"]</a></li>
                                        <li><a class="custom-b" href="/TaiKhoans/Logout">Log out</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="help-r hidden-xs">
                            <div class="help-box">
                                <ul>
                                    <li><a class="custom-b" href="/GioHang/GioHang">Giỏ hàng</a></li>
                                    <li><a class="custom-b" href="/DonHangs?maTK=@Session["TaiKhoan"]">Đơn hàng</a></li>
                                </ul>
                            </div>
                        </div>
                        @if (Session["TaiKhoan"] != null && Session["Account"].ToString().Contains("admin"))
                        {
                            <div class="nav-b hidden-xs">
                                <div class="nav-box">
                                    <ul>
                                        <li>@Html.ActionLink("Sản phẩm", "Index", "SanPhams")</li>
                                        <li>@Html.ActionLink("Danh mục", "Index", "DanhMucs")</li>
                                        <li>@Html.ActionLink("Nhãn hiệu", "Index", "NhanHieux")</li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!--/.container-fluid -->
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("upload", required: false)
</body>
</html>
