<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background: url(/Content/images/bg-01.jpg) no-repeat center center fixed; background-repeat: no-repeat; background-size: cover; ">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-12 left-rs">
                    <div class="navbar-header">
                        <button type="button" id="top-menu" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/Home/Index" class="navbar-brand">Project</a>
                    </div>
                    <form class="navbar-form navbar-left web-sh">
                        <div class="form">
                            <div>
                                <input type="text" class="form-control" placeholder="Nhập tên sản phẩm" @Html.TextBox("SearchString", "")
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="right-nav">
                        <div class="login-sr">
                            <div class="login-signup">
                                <ul>
                                    @if (Session["TaiKhoan"] == null)
                                    {
                                        <li><a href="/TaiKhoans/DangNhap">Log In</a></li>
                                        <li><a class="custom-b" href="/TaiKhoans/DangKy">Sign Up</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/TaiKhoans/Details/@Session["TaiKhoan"]">Xin chào @Session["User"]</a></li>
                                        <li><a class="custom-b" href="/TaiKhoans/Logout">Log out</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="help-r hidden-xs">
                            <div class="help-box">
                                <ul>
                                    <li><a class="custom-b" href="/GioHang/GioHang">Giỏ hàng</a></li>
                                    <li><a class="custom-b" href="/DonHangs?maTK=@Session["TaiKhoan"]">Đơn hàng</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.container-fluid -->
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
<footer>
    <div class="boxfooter1">
        <h4>FOLLOW US</h4>
        <div class="logo-footer">
            <img src="~/images/icon/facebook.jpg" />
            <img src="~/images/icon/insta.jpg" />
        </div>
    </div>
    <div class="boxfooter2">
        <h4>ABOUT US</h4>
        <div class="add2">Bui Minh Nhat - 2011060734</div>
        <div class="add2">Huynh Phuoc Dat - 2011062086</div>
        <div class="add2">Vo Phan Truong Nguyen - 2011061720</div>
    </div>
    <div class="boxfooter3">
        <h4>CONTACT US</h4>
        <div class="add">Phone Number 1: 0901234565</div>
        <div class="add">Phone Number 2: 0988778567</div>
    </div>
</footer>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
@RenderSection("upload", required: false)
</html>
