<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Project", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-right">
                @if (Session["TaiKhoan"] == null)
                {
                    @Html.ActionLink("Đăng nhập", "DangNhap", "TaiKhoans", new { area = ""  }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Đăng ký", "DangKy", "TaiKhoans", new { area = "" }, new { @class = "navbar-brand" })
                }
                else if (Session["Account"].ToString().Contains("admin"))
                {
                    @Html.ActionLink("Xin chào " + @Session["User"], "Details", "TaiKhoans", new { area = "", @id = Session["TaiKhoan"] }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Đăng xuất", "Logout", "TaiKhoans", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Quản lý Admin", "PageAdmin", "TaiKhoans", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("Xin chào " + @Session["User"], "Details", "TaiKhoans", new { area = "", @id = Session["TaiKhoan"] }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Đăng xuất", "Logout", "TaiKhoans", new { area = "" }, new { @class = "navbar-brand" })
                }

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (Session["TaiKhoan"] != null && Session["Account"].ToString().Contains("admin"))
                    {
                        <li>@Html.ActionLink("Sản phẩm", "Index", "SanPhams")</li>
                        <li>@Html.ActionLink("Danh mục", "Index", "DanhMucs")</li>
                        <li>@Html.ActionLink("Nhãn hiệu", "Index", "NhanHieux")</li>
                    }
                    <li>@Html.Partial("~/Views/GioHang/GioHangPartial.cshtml")</li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
