<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    @*foneawesome custom link*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <link href="~/Content/Footer.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background: url(/Content/images/bg-01.jpg) no-repeat center center fixed; background-repeat: no-repeat; background-size: cover; ">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-12 left-rs">
                    <div class="navbar-header">
                        <button type="button" id="top-menu" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/Home/Index" class="navbar-brand">Project</a>
                    </div>
                    <form class="navbar-form navbar-left web-sh">
                        <div class="form">
                            <div>
                                <input type="text" class="form-control" placeholder="Nhập tên sản phẩm" @Html.TextBox("SearchString", "")
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="right-nav">
                        <div class="login-sr">
                            <div class="login-signup">
                                <ul>
                                    @if (Session["TaiKhoan"] == null)
                                    {
                                        <li><a href="/TaiKhoans/DangNhap">Log In</a></li>
                                        <li><a class="custom-b" href="/TaiKhoans/DangKy">Sign Up</a></li>
                                    }
                                    else if (Session["Account"].ToString().Contains("admin"))
                                    {
                                        <li><a href="/TaiKhoans/Details/@Session["TaiKhoan"]">Xin chào @Session["User"]</a></li>
                                        <li><a href="/TaiKhoans/PageAdmin">Quản lý Admin</a></li>
                                        <li><a href="/TaiKhoans/ChangePass">Đổi mật khẩu</a></li>
                                        <li><a class="custom-b" href="/TaiKhoans/Logout">Log out</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/TaiKhoans/Details/@Session["TaiKhoan"]">Xin chào @Session["User"]</a></li>
                                        <li><a href="/TaiKhoans/ChangePass">Đổi mật khẩu</a></li>
                                        <li><a class="custom-b" href="/TaiKhoans/Logout">Log out</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="help-r hidden-xs">
                            <div class="help-box">
                                <ul>
                                    @if (Session["TaiKhoan"] != null && Session["Account"].ToString().Contains("admin"))
                                    {
                                        <li>@Html.ActionLink("Sản phẩm", "Index", "SanPhams")</li>
                                        <li>@Html.ActionLink("Danh mục", "Index", "DanhMucs")</li>
                                        <li>@Html.ActionLink("Nhãn hiệu", "Index", "NhanHieux")</li>
                                    }
                                    else if (Session["TaiKhoan"] != null)
                                    {
                                    <li>
                                        @*<a class="custom-b" href="/GioHang/GioHang">@Html.Action("GioHangPartial", "GioHang")</a>*@

                                        <a href="/GioHang/GioHang" class="btn-cart">
                                            <div class="fa-solid fa-cart-shopping icon-cart">
                                                <span class="countCart">@Html.Action("GiohangPartial", "GioHang")</span>
                                            </div>
                                        </a>
                                    </li>

                                        <li><a class="custom-b" href="/DonHangs?maTK=@Session["TaiKhoan"]">Đơn hàng</a></li>
                                    }
                                    else
                                    {
                                        <li><a class="custom-b" href="/GioHang/GioHang">Giỏ Hàng</a></li>
                                        <li><a class="custom-b" href="/DonHangs?maTK=@Session["TaiKhoan"]">Đơn hàng</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.container-fluid -->
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer-20192">
        <div class="row-footer" style="display:flex; justify-content:space-between">
            <div class="col1-sm">
                <h3>About Us</h3>
                <ul class="list-unstyled links">
                    <li><a href="#">Nguyễn Trọng Quý - Leader</a></li>
                    <li><a href="#">Nguyễn Gia Huy </a></li>
                    <li><a href="#">Phan Thành Phát </a></li>
                    <li><a href="#">Huỳnh Công Tuấn </a></li>
                </ul>
            </div>
            <div class="col1-sm">
                <h3>MSSV</h3>
                <ul class="list-unstyled links">
                    <li>2011064460</li>
                    <li>2011062563</li>
                    <li>2011068881</li>
                    <li>2011061242</li>
                </ul>
            </div>
            <div class="col1-sm">
                <h3>Giảng viên hướng dẫn</h3>
                <ul class="list-unstyled links">
                    <li><a href="#">Thạc sĩ</a></li>
                    <li>Nguyễn Mạnh Hùng</li>
                </ul>
            </div>
            <div class="col1-md-3">
                <h3>Follow us</h3>
                <ul class="list-unstyled social">
                    <li><a href="https://www.facebook.com/profile.php?id=100006794611487"><span class="icon-facebook"><img src="~/Content/images/fb.png" alt="Alternate Text" /></span></a></li>
                    <li><a href="https://www.instagram.com/ntq612/"><span class="icon-twitter"><img src="~/Content/images/instagram.png" alt="Alternate Text" /></span></a></li>
                    <li><a href="#"><span class="icon-linkedin"></span></a></li>
                    <li><a href="#"><span class="icon-medium"></span></a></li>
                    <li><a href="#"><span class="icon-paper-plane"></span></a></li>
                </ul>
            </div>
        </div>
    </footer>

    <style>
        .btn-cart .icon-cart {
            font-size: 22px;
            position: relative;
        }

            .btn-cart .icon-cart .countCart {
                position: absolute;
                top: -11px;
                right: -14px;
                padding: 0.5rem;
                font-size: 15px;
                background: #09294c;
                color: #fff;
                border-radius: 5rem;
                width: 2.3rem;
                height: 2.3rem;
                text-align: center;
            }
    </style>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
@RenderSection("upload", required: false)
</html>
