@model IEnumerable<CuoiKy.Models.GioHang>

@{
    ViewBag.Title = "Dathang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <title>Chamb - Responsive E-commerce HTML5 Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--enable mobile device-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--fontawesome css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/font-awesome.min.css">
    <!--bootstrap css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/bootstrap.min.css">
    <!--animate css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/animate-wow.css">
    <!--main css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/style.css">
    <link rel="stylesheet" href="~/Content/MakeColor/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Content/MakeColor/css/slick.min.css">
    <!--responsive css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/responsive.css">
</head>

<div class="box-container">
    <h2 style="text-align: center">Đơn hàng</h2>

    <table class="table">
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Giá
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Thành tiền
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SanPham.TenSanPham)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.SanPham.HinhAnh)" width="180" alt="Alternate Text" />
                </td>
                @using (Html.BeginForm("CapnhatGiohang", "GioHang", new { @id = item.MaSP }))
                {
                    <td>@item.SanPham.Gia VND</td>
                    <td>@Html.DisplayFor(ModelItem => item.SoLuong)</td>
                    <td>@Html.DisplayFor(ModelItem => item.ThanhTien)</td>
                }
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
        <tr style="font-weight: bold; text-align: right; color: red">
            <td colspan="3">Số lượng sản phẩm: @ViewBag.TongSoLuong</td>
            <td colspan="4">Số loại sản phẩm: @ViewBag.TongSoLuongSanPham</td>
            <td colspan="5">Tổng tiền: @ViewBag.TongTien VND</td>
        </tr>
        <tr style="font-weight: bold; text-align: right">
            <td colspan="6">
                @Html.ActionLink("Trở về giỏ hàng", "GioHang", "GioHang")
            </td>
        </tr>

    </table>

    @using CuoiKy.Models
    <h2 style="text-align: center">Thông tin đặt hàng</h2>
    @{

        TaiKhoan tk = (TaiKhoan)Session["FullTaiKhoan"];


    }
    <table align="center">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <tr style="height: 40px">
                <td>Họ tên khách hàng:  </td>
                <td style="font-weight: bold">@tk.TenKhachHang</td>
            </tr>
            <tr style="height: 40px">
                <td>Email</td>
                <td style="font-weight: bold">@tk.Email</td>
            </tr>
            <tr style="height: 40px">
                <td>Địa chỉ: </td>
                <td style="font-weight: bold">@tk.DiaChi</td>
            </tr>
            <tr style="height: 40px">
                <td>Điện thoại: </td>
                <td style="font-weight: bold">@tk.SDT</td>
            </tr>
            <tr style="height: 40px">
                <td>Ngày đặt: </td>
                <td style="font-weight: bold">@DateTime.Now.ToShortDateString()</td>
            </tr>
            <tr style="height: 40px">
                <td> </td>
                <td style="font-weight: bold">
                    <input type="submit" value="Xác nhận" class="btn btn-success" />
                </td>
            </tr>
        }
    </table>

</div>
<style>
    .box-container {
        padding: 25px 20px;
        border-radius: 10px;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0, .5);
        background: rgba(255,255,255, .8);
    }
</style>