
@{
    ViewBag.Title = "ChangePass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--enable mobile device-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--fontawesome css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/font-awesome.min.css">
    <!--bootstrap css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/bootstrap.min.css">
    <!--animate css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/animate-wow.css">
    <!--main css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/style.css">
    <link rel="stylesheet" href="~/Content/MakeColor/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Content/MakeColor/css/slick.min.css">
    <!--responsive css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/responsive.css">
</head>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Đổi mật khẩu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="~/Content/images/icons/favicon.ico" />
        <!--===============================================================================================-->
        @*<link rel="stylesheet" type="text/css" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">*@
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/Content/fonts/iconic/css/material-design-iconic-font.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/Content/vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/Content/vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/Content/vendor/animsition/css/animsition.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/Content/vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/Content/vendor/daterangepicker/daterangepicker.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">
        <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
        <!--===============================================================================================-->
    </head>
    <body style="background: url(/Content/images/bg-01.jpg) no-repeat center center fixed; background-repeat: no-repeat; background-size: cover; ">

        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                    <form class="login100-form validate-form">
                        <span class="login100-form-title p-b-49">
                            Đổi mật khẩu
                        </span>

                        <div class="wrap-input100 validate-input m-b-23" data-validate="Xin nhập mật khẩu cũ">
                            <span class="label-input100">Tên khách hàng</span>
                            <input class="input100" type="password" id="OldPass" name="OldPass" placeholder="Nhập mật khẩu cũ của bạn">
                            <span class="focus-input100" data-symbol="&#xf206"></span>
                            @ViewData["WrongOldPass"]
                        </div>

                        <div class="wrap-input100 validate-input m-b-23" data-validate="Xin nhập mật khẩu mới">
                            <span class="label-input100">Username</span>
                            <input class="input100" type="password" id="Password" name="Password" placeholder="Nhập mật khẩu mới của bạn">
                            <span class="focus-input100" data-symbol="&#xf206"></span>
                            @ViewData["WeakPass"]
                        </div>

                        <div class="wrap-input100 validate-input m-b-23" data-validate="Xin nhập mật khẩu">
                            <span class="label-input100">Mật khẩu</span>
                            <input class="input100" type="password" id="ConfirmPass" name="ConfirmPass" placeholder="Xác nhận mật khẩu của bạn">
                            <span class="focus-input100" data-symbol="&#xf190"></span>
                            @ViewData["NhapMKXN"]
                            @ViewData["MatKhauGiongNhau"]
                        </div>

                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn">
                                    <a href="/TaiKhoans/ChangePass?maTK=@Session["TaiKhoan"]">Đổi mật khẩu</a>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div id="dropDownSelect1"></div>

        <!--===============================================================================================-->
        <script src="~/Content/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/vendor/bootstrap/js/popper.js"></script>
        <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/vendor/daterangepicker/moment.min.js"></script>
        <script src="~/Content/vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/vendor/countdowntime/countdowntime.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/js/main.js"></script>
        <style>
            nav.navbar.navbar-default {
                display: none;
            }
        </style>
    </body>

</html>
}