@model CuoiKy.Models.TaiKhoan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <title>Chamb - Responsive E-commerce HTML5 Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--enable mobile device-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--fontawesome css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/font-awesome.min.css">
    <!--bootstrap css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/bootstrap.min.css">
    <!--animate css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/animate-wow.css">
    <!--main css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/style.css">
    <link rel="stylesheet" href="~/Content/MakeColor/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Content/MakeColor/css/slick.min.css">
    <!--responsive css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/responsive.css">
</head>

<div class="box-container">
    <h2>Chi tiết tài khoản</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tên đăng nhập
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenDangNhap)
            </dd>

            <dt>
                Mật khẩu
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MatKhau)
            </dd>

            <dt>
                Họ tên
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenKhachHang)
            </dd>

            <dt>
                Email
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                Số điện thoại
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SDT)
            </dd>

            <dt>
                Giới tính
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GioiTinh)
            </dd>

            <dt>
                Ngày tháng năm sinh
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NamSinh)
            </dd>

            <dt>
                Địa chỉ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiaChi)
            </dd>

            <dt>
                Phân quyền
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhanQuyen)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MaTK }) 
        <div><a class="btn btn-success" href="@Url.Action("Index", "DonHangs", new {maTK = Model.MaTK})">Các đơn hàng đã thanh toán</a></div>
    </p>
</div>
