@model CuoiKy.Models.TaiKhoan

@{
    ViewBag.Title = "Edit";
}
<head>
    <meta charset="UTF-8">
    <title>Chamb - Responsive E-commerce HTML5 Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--enable mobile device-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--fontawesome css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/font-awesome.min.css">
    <!--bootstrap css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/bootstrap.min.css">
    <!--animate css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/animate-wow.css">
    <!--main css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/style.css">
    <link rel="stylesheet" href="~/Content/MakeColor/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Content/MakeColor/css/slick.min.css">
    <!--responsive css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/responsive.css">
</head>

<div class="box-container">
    <h2 style="text-align: center">Chỉnh sửa thông tin tài khoản</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaTK)

    <div class="form-group">
        @Html.LabelFor(model => model.TenDangNhap, "Tên đăng nhập", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenDangNhap, new { htmlAttributes = new { disable = "disable", @readonly = "readonly", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenDangNhap, "", new { @class = "text-danger" })
        </div>
    </div>
   
     <div style="display: none" class="form-group">
         @Html.LabelFor(model => model.MatKhau,"Mật khẩu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
            </div>
     </div>
    


    <div class="form-group">
        @Html.LabelFor(model => model.TenKhachHang, "Họ tên", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenKhachHang, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenKhachHang, "", new { @class = "text-danger" })
            @ViewData["NotNull"]
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            @ViewData["NotNull"]
            @ViewData["EmailWrong"]
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SDT, "Số điện thoại", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
            @ViewData["NotNull"]
            @ViewData["NumWrong"]
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GioiTinh, "Giới tính", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
            @ViewData["NotNull"]
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NamSinh, "Năm sinh", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NamSinh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NamSinh, "", new { @class = "text-danger" })
            @ViewData["NotNull"]
            @ViewData["BirthWrong"]
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DiaChi, "Địa chỉ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
            @ViewData["NotNull"]
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PhanQuyen, "Phân quyền", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PhanQuyen, new { htmlAttributes = new { disable = "disable", @readonly = "readonly", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhanQuyen, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>

    }
</div>
<style>
    .box-container {
        padding: 25px 20px;
        border-radius: 10px;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0, .5);
        background: rgba(255,255,255, .8);
    }
    .footer-20192 {
        bottom: 0;
    }
</style>
