@model CuoiKy.Models.TaiKhoan
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>


@{
    ViewBag.Title = "Login";
}

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "TaiKhoans", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.TenDangNhap)
                        @Html.TextBoxFor(m => m.TenDangNhap, new { @class = "form-control", @placeholder = "Tài khoản" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.MatKhau)
                        @Html.PasswordFor(m => m.MatKhau, new { @class = "form-control", @placeholder = "Mật khẩu" })
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary" value="Login" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>