@model IEnumerable<CuoiKy.Models.TaiKhoan>

@{
    ViewBag.Title = "PageAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PageAdmin</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDangNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenKhachHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamSinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhanQuyen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDangNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenKhachHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GioiTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NamSinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhanQuyen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaTK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaTK })
        </td>
    </tr>
}

</table>
