@model IEnumerable<CuoiKy.Models.ChiTietDonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <title>Chamb - Responsive E-commerce HTML5 Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--enable mobile device-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--fontawesome css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/font-awesome.min.css">
    <!--bootstrap css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/bootstrap.min.css">
    <!--animate css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/animate-wow.css">
    <!--main css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/style.css">
    <link rel="stylesheet" href="~/Content/MakeColor/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Content/MakeColor/css/slick.min.css">
    <!--responsive css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/responsive.css">
</head>
<div class="box-container">
    <h2 style="text-align: center">Chi tiết đơn hàng</h2>
    <table class="table">
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Đơn giá
            </th>
            <th>
                Thành tiền
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SanPham.TenSanPham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td style=" width: 15%;">
                    <img style=" width: 62%;" src="@Html.DisplayFor(modelItem => item.SanPham.HinhAnh)" alt="Alternate Text" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SanPham.Gia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                
            </tr>
        }

    </table>
</div>
